body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: .95rem;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
    color: #551a8b;
    display: block;
    padding: 4px 8px;
    border: 1px solid transparent;
}
a:hover {
    border: 1px solid #551a8b;
}
body > details > summary {
    background-color: #f2f2f2;
}
details {
    margin-top: 6px;
}
details summary {
    border-bottom: 1px solid gray;
    padding: 4px 8px;
}
ul {
    list-style-type: none;
    padding-left: 24px;
    margin-top: 6px;
    margin-bottom: 0px;
}